*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.reset{
    margin-bottom: 10px;
}

/* .count{
    margin-right: 25px;
} */

.container-flex{
    display: flex;
    /* flex-direction: column; */
}

/* button */